USE [master]
GO
IF EXISTS(SELECT * FROM [sys].[databases] where [name] = 'Test')
begin
ALTER DATABASE [Test] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
DROP DATABASE [Test]
end
GO
/****** Object:  Database [Test]    Script Date: 22/02/2017 15:45:54 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Provisu', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 292928KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Provisu_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 78080KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[PROV_PHYSIQUE]    Script Date: 22/02/2017 15:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROV_PHYSIQUE](
	[PHYSNUM] [int] NOT NULL,
	[NOM] [varchar](50) NULL,
	[PRENOM] [varchar](50) NULL,
	[SEXE] [smallint] NULL,
	[DTNAIS] [varchar](10) NULL,
	[EPOUX] [varchar](50) NULL,
	[PROFES] [varchar](50) NULL,
	[DTDECES] [varchar](10) NULL,
	[ARCHIVE] [varchar](25) NULL,
	[MOTCLE] [varchar](256) NULL,
	[DISPNUM] [int] NULL,
	[LANGUE] [smallint] NULL,
	[TITRE] [varchar](25) NULL,
	[NISS] [varchar](25) NULL,
	[PRESENT] [smallint] NULL,
	[NEWPHYSNUM] [int] NULL DEFAULT ((0)),
	[ETHNIE] [varchar](255) NOT NULL DEFAULT (''),
	[NATIONALITY] [varchar](255) NOT NULL DEFAULT (''),
PRIMARY KEY CLUSTERED 
(
	[PHYSNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[spClearDatabase]    Script Date: 12/08/2016 15:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spClearDatabase]
AS
BEGIN
	SET NOCOUNT ON
	EXEC sys.sp_MSforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL'
	EXEC sys.sp_MSforeachtable 'DELETE FROM ?'
	EXEC sys.sp_MSforeachtable 'ALTER TABLE ? CHECK CONSTRAINT ALL'
	EXEC sys.sp_MSforeachtable 'IF OBJECTPROPERTY(object_id(''?''), ''TableHasIdentity'') = 1 DBCC CHECKIDENT (''?'', RESEED, 0)'
	DECLARE @restartseq nvarchar(max)
	DECLARE rcursor CURSOR 
	FOR 
	SELECT
	  'ALTER SEQUENCE '
	+  QUOTENAME(schema_name(schema_id))
	+  '.'
	+  QUOTENAME(name)
	+  ' RESTART'
	FROM sys.sequences
	OPEN rcursor
	FETCH NEXT FROM rcursor INTO @restartseq
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		EXEC sp_executesql @restartseq
		FETCH NEXT FROM rcursor INTO @restartseq
	END
	CLOSE rcursor
	DEALLOCATE rcursor
	END

GO
USE [master]
GO