SELECT     P.PrescriptionId AS Identifier,
		   P.Language As LanguageCode,
		   P.IsElectronic,
           P.ElectronicNum AS ElectronicNumber,
           P.CreatedOn,
           P.DelivrableAt,
           P.PrescriberLastName,
           P.PrescriberFirstName,
		   P.PrescriberDisplayName,
           P.PrescriberLicenseNum AS PrescriberLicenseNumber,
           P.PrescriberSpeciality,
           P.PrescriberPhone1 AS PrescriberTelephoneNumber1,
           P.PrescriberPhone2 AS PrescriberTelephoneNumber2,
           P.PrescriberEmail1 AS PrescriberEmailAddress1,
           P.PrescriberEmail2 AS PrescriberEmailAddress2,
           P.PrescriberWebSite,
           P.PrescriberStreet,
           P.PrescriberHouseNum AS PrescriberHouseNumber,
           P.PrescriberBoxNum AS PrescriberBoxNumber,
           P.PrescriberPostCode AS PrescriberPostalCode,
           P.PrescriberCity,
           P.PatientFirstName,
           P.PatientLastName,
		   P.FacilityName AS HealthFacilityName,
		   C.SITENAME AS StampWithHealthFacilityName,
           C.OPHTALMO AS StampWithSpeciality,
           C.TEL1 AS StampWithTelephoneNumber1,
           C.TEL2 AS StampWithTelephoneNumber2,
           C.ADRESSE AS StampWithStreet,
           C.NUMLOC AS StampWithCity,
           C.MAIL1 AS StampWithEmailAddress1,
           C.MAIL2 AS StampWithEmailAddress2,
           C.WEB1 AS StampWithWebSite,
		   C.CENTRE AS StampCentred,
		   M.NameOrDesc AS NameOrDescription,
		   M.Posology,
		   M.Quantity,
		   M.Duration
FROM       Prescription P
INNER JOIN PrescMedication M ON M.PrescriptionId = P.PrescriptionId
LEFT JOIN  PARAM_CACHET C ON C.USERNUM = P.PrescriberId AND C.SITENUM = P.FacilityId
WHERE      P.PrescriptionType = 'PHARM'
AND        P.PrescriptionId IN @Ids
ORDER BY   (CASE WHEN P.DelivrableAt IS NULL THEN 0 ELSE 1 END), P.DelivrableAt